html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  color: #222222;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.btn-fab{
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	border-radius:50%;
	text-align:center;
}

.btn-fab i {
  margin: 0px;
  font-size: 24px;
  color: #fff;
  transform: translate(0%, 40%);;
}

.btn-item {
  padding: 10px 12px !important;
}
